:root {
	--black-color: #000000;
	--white-color: #FFFFFF;
	--blue-color: #00487D;
	--gray-color: #F4F5F6;
	--gray-text-color: #707070;
}

* {
	outline: none;
}
*, ::before, ::after {
	box-sizing: border-box;
}
html {
	scroll-behavior: smooth;
}
html,
body {
	font-weight: normal;
	font-style: normal;
	font-size: 16px;
	line-height: 1.5;
}
body {
	position: relative;
	display: flex;
	flex-direction: column;
	min-width: 320px;
	min-height: 100vh;
	margin: 0;
	font-family: "Brutal", sans-serif;
	background-color: var(--white-color);
	color: var(--black-color);
}

.container-xxl {
	width: 100%;
	padding-right: 15px;
	padding-left: 15px;
	margin-right: auto;
	margin-left: auto;
}
@media (min-width: 1400px) {
	.container, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
		max-width: 1320px;
	}
}

/*h1, h2, h3, h4, h5, h6 {
	margin: 0;
}
h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6 {
	color: var(--light-black-color);
	font-family: "PF Agora Sans Pro", sans-serif;
	line-height: inherit;
}
h1, .h1, h2, .h2 {
	font-weight: 700;
}
h3, .h3 {
	font-size: 24px;
	line-height: 26px;
}
h4, .h4 {
	font-size: 20px;
	line-height: 22px;
}
h5, .h5 {
	font-size: 18px;
	line-height: 21px;
}
@media (max-width: 991.98px) {
	h1, .h1, h2, .h2 {
		font-size: 30px;
		line-height: 35px;
	}
}
@media (min-width: 992px) {
	h3, .h3, h4, .h4, h5, .h5, h6, .h6 {
		font-weight: 500;
	}
	h1, .h1 {
		font-size: 42px;
		line-height: 46px;
	}
	h2, .h2 {
		font-size: 36px;
		line-height: 40px;
	}
}*/

a {
	color: inherit;
	text-decoration: none;
	transition: all 0.15s ease-in-out;
}
.link,
.link:hover {
	display: inline-flex;
	color: var(--blue-color);
}
/*.link-underline,
.link-underline:hover {
	text-decoration: underline 1px solid var(--gray-color);
	text-underline-offset: 4px;
	line-height: 21px;
}
.link-underline:hover {
	text-decoration: none;
	text-decoration-color: var(--gray-color);
}*/

img {
	max-width: 100%;
	font-size: 0;
}
svg {
	max-width: 100%;
	max-height: 100%;
	pointer-events: none;
}
.icon {
	min-width: 24px;
	min-height: 24px;
	width: 24px;
	height: 24px;
	pointer-events: none;
	transition: all 0.15s ease-in-out;
}

.color-blue {
	color: var(--blue-color);
}
.color-gray {
	color: var(--gray-color);
}

.overflow-hidden {
	overflow: hidden;
}

.visually-hidden {
	position: absolute;
	clip: rect(0 0 0 0);
	width: 1px;
	height: 1px;
	margin: -1px;
}
@media (min-width: 992px) {
	a:hover {
		text-decoration: none;
	}
	svg use {
		transition: 0.15s ease-in-out;
	}
}