:root {
	--black-color: #000000;
	--white-color: #FFFFFF;
	--blue-color: #00487D;
	--lightgray-color: #F4F5F6;
	--gray-color: #707070;
	--lime-color: #E0FF00;
	--green-color: #73CC00;

	--link-hover-color: #0056b3;
}

* {
	outline: none;
}
*, ::before, ::after {
	box-sizing: border-box;
}
html {
	scroll-behavior: smooth;
}
html,
body {
	font-weight: normal;
	font-style: normal;
	line-height: 1.5;
}
body {
	position: relative;
	display: flex;
	flex-direction: column;
	min-width: 320px;
	min-height: 100vh;
	margin: 0;
	font-family: "Brutal", sans-serif;
	background-color: var(--white-color);
	color: var(--black-color);
}
@media (max-width: 767.98px) {
	html,
	body {
		font-size: 14px;
	}
}
@media (min-width: 768px) {
	html,
	body {
		font-size: 16px;
	}
}

.container-xxl {
	width: 100%;
	padding-right: 15px;
	padding-left: 15px;
	margin-right: auto;
	margin-left: auto;
}
@media (min-width: 1400px) {
	.container, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
		max-width: 1320px;
	}
}

h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6 {
	margin-bottom: 0;
	font-family: 'Stapel Medium', sans-serif;
}
@media (max-width: 767.98px) {
	h1, .h1, h2, .h2 {
		font-size: 24px;
		line-height: 30px;
	}
	h3, .h3 {
		font-size: 20px;
		line-height: 30px;
	}
	h4, .h4 {
		font-size: 18px;
		line-height: 21px;
	}
	h5, .h5 {
		font-size: 14px;
		line-height: 21px;
	}
}
@media (min-width: 768px) {
	h1, .h1, h2, .h2 {
		font-size: 32px;
		line-height: 40px;
	}
	h3, .h3 {
		font-size: 24px;
		line-height: 36px;
	}
	h4, .h4 {
		font-size: 20px;
		line-height: 24px;
	}
	h5, .h5 {
		font-size: 16px;
		line-height: 24px;
	}
}

a {
	color: inherit;
	text-decoration: none;
	transition: all 0.15s ease-in-out;
}
a:hover {
	text-decoration: none;
}
.link,
.link:hover {
	display: inline-flex;
	color: var(--blue-color);
}

img {
	max-width: 100%;
	font-size: 0;
}
svg {
	max-width: 100%;
	max-height: 100%;
	pointer-events: none;
}
.icon {
	min-width: 24px;
	min-height: 24px;
	width: 24px;
	height: 24px;
	pointer-events: none;
}

.overflow-hidden {
	overflow: hidden;
}

.visually-hidden {
	position: absolute;
	clip: rect(0 0 0 0);
	width: 1px;
	height: 1px;
	margin: -1px;
}

@media (max-width: 991.98px) {
	.desktop-only {
		display: none !important;
	}
}
@media (min-width: 992px) {
	.mobile-only {
		display: none !important;
	}
}

.rotate-left {
	transform: rotate(180deg);
}
@media (min-width: 992px) {
	svg use {
		transition: 0.15s ease-in-out;
	}
}

@media (max-width: 767.98px) {
	.block-mb:not(:last-child) {
		margin-bottom: 40px;
	}
	.block-mb-medium:not(:last-child) {
		margin-bottom: 30px;
	}
	.block-mb-small:not(:last-child) {
		margin-bottom: 15px;
	}
}
@media (min-width: 768px) {
	.block-mb:not(:last-child) {
		margin-bottom: 80px;
	}
	.block-mb-medium:not(:last-child) {
		margin-bottom: 60px;
	}
	.block-mb-small:not(:last-child) {
		margin-bottom: 30px;
	}
}

.btn {
	position: relative;
	display: inline-flex;
	justify-content: center;
	align-items: center;
	border: 2px solid transparent;
	background-color: transparent;
	font-family: "Brutal", sans-serif;
	font-weight: 400;
	font-size: 16px;
	line-height: 24px;
	cursor: pointer;
	transition: 0.15s ease-in-out;
}
.btn:focus {
	box-shadow: 0 0 3px var(--blue-color);
}
.btn:not(.btn-small) {
	padding: 12px;
	border-radius: 26px;
}
.btn-small {
	padding: 4px;
	border-radius: 18px;
}
.btn .icon {
	position: relative;
	min-width: 24px;
	min-height: 24px;
	width: 24px;
	height: 24px;
	stroke-width: 1.5px;
}
.btn .text-content {
	padding-right: 10px;
	padding-left: 10px;
	line-height: 24px;
	white-space: nowrap;
	overflow: hidden;
}

.btn-primary {
	border-color: var(--blue-color);
	background-color: var(--blue-color);
	color: var(--white-color);
}
/*.btn-primary.focus,
.btn-primary:focus {
	border-color: var(--blue-color);
	background-color: var(--blue-color);
	color: var(--white-color);
	box-shadow: 0 0 0 3px var(--white-color);
}
.btn-primary:not(:disabled):not(.disabled).active,
.btn-primary:not(:disabled):not(.disabled):active,
.show > .btn-primary.dropdown-toggle {
	border-color: var(--blue-color);
	background-color: var(--white-color);
	color: var(--blue-color);
}
.btn-primary:not(:disabled):not(.disabled).active:focus,
.btn-primary:not(:disabled):not(.disabled):active:focus,
.show > .btn-primary.dropdown-toggle:focus {
	box-shadow: 0 0 0 3px var(--blue-color);
}*/
.btn-primary .icon-fill {
	fill: var(--white-color);
}
.btn-primary .icon-stroke {
	stroke: var(--white-color);
}

.btn-secondary {
	border-color: var(--white-color);
	background-color: var(--white-color);
	color: var(--blue-color);
}
/*.btn-secondary.focus,
.btn-secondary:focus {
	border-color: var(--white-color);
	background-color: var(--white-color);
	color: var(--blue-color);
	box-shadow: 0 0 0 3px var(--blue-color);
}
.btn-secondary:not(:disabled):not(.disabled).active,
.btn-secondary:not(:disabled):not(.disabled):active,
.show > .btn-secondary.dropdown-toggle {
	border-color: var(--blue-color);
	background-color: var(--blue-color);
	color: var(--white-color);
}
.btn-secondary:not(:disabled):not(.disabled).active:focus,
.btn-secondary:not(:disabled):not(.disabled):active:focus,
.show > .btn-secondary.dropdown-toggle:focus {
	box-shadow: 0 0 0 3px var(--white-color);
}*/
.btn-secondary .icon-fill {
	fill: var(--blue-color);
}
.btn-secondary .icon-stroke {
	stroke: var(--blue-color);
}

.btn-grey,
.btn-gray {
	border-color: var(--lightgray-color);
	background-color: var(--lightgray-color);
	color: var(--blue-color);
}
/*
.btn-grey.focus,
.btn-grey.focus,
.btn-gray:focus,
.btn-gray:focus {
	border-color: var(--white-color);
	background-color: var(--white-color);
	color: var(--blue-color);
	box-shadow: 0 0 0 3px var(--blue-color);
}
.btn-grey:not(:disabled):not(.disabled).active,
.btn-grey:not(:disabled):not(.disabled).active,
.btn-gray:not(:disabled):not(.disabled):active,
.btn-gray:not(:disabled):not(.disabled):active {
	border-color: var(--blue-color);
	background-color: var(--blue-color);
	color: var(--white-color);
}
.btn-grey:not(:disabled):not(.disabled).active:focus,
.btn-grey:not(:disabled):not(.disabled).active:focus,
.btn-gray:not(:disabled):not(.disabled):active:focus,
.btn-gray:not(:disabled):not(.disabled):active:focus {
	box-shadow: 0 0 0 3px var(--white-color);
}*/
.btn-grey .icon-fill,
.btn-gray .icon-fill {
	fill: var(--blue-color);
}
.btn-grey .icon-stroke,
.btn-gray .icon-stroke {
	stroke: var(--blue-color);
}

.btn-lime {
	border-color: var(--lime-color);
	background-color: var(--lime-color);
	color: var(--blue-color);
}
/*.btn-lime.focus,
.btn-lime:focus {
	border-color: var(--white-color);
	background-color: var(--white-color);
	color: var(--blue-color);
	box-shadow: 0 0 0 3px var(--blue-color);
}
.btn-lime:not(:disabled):not(.disabled).active,
.btn-lime:not(:disabled):not(.disabled):active,
.show > .btn-lime.dropdown-toggle {
	border-color: var(--green-color);
	background-color: var(--green-color);
	color: var(--white-color);
}
.btn-lime:not(:disabled):not(.disabled).active:focus,
.btn-lime:not(:disabled):not(.disabled):active:focus,
.show > .btn-lime.dropdown-toggle:focus {
	box-shadow: 0 0 0 3px var(--lime-color);
}*/
.btn-lime .icon-fill {
	fill: var(--blue-color);
}
.btn-lime .icon-stroke {
	stroke: var(--blue-color);
}
@media (min-width: 992px) {
	.btn-primary:hover {
		border-color: var(--lightgray-color);
		background-color: var(--lightgray-color);
		color: var(--blue-color);
	}
	.btn-primary:hover .icon-fill {
		fill: var(--blue-color);
	}
	.btn-primary:focus:hover .icon-fill {
		fill: var(--blue-color);
	}
	.btn-primary:hover .icon-stroke {
		stroke: var(--blue-color);
	}
	.btn-primary:focus:hover .icon-stroke {
		stroke: var(--blue-color);
	}

	.btn-secondary:hover {
		border-color: var(--blue-color);
		background-color: var(--blue-color);
		color: var(--white-color);
	}
	.btn-secondary:hover .icon-fill {
		fill: var(--white-color);
	}
	.btn-secondary:hover .icon-stroke {
		stroke: var(--white-color);
	}

	.btn-grey:hover,
	.btn-gray:hover {
		border-color: var(--blue-color);
		background-color: var(--blue-color);
		color: var(--white-color);
	}
	.btn-grey:hover .icon-fill,
	.btn-gray:hover .icon-fill {
		fill: var(--white-color);
	}
	.btn-grey:hover .icon-stroke,
	.btn-gray:hover .icon-stroke {
		stroke: var(--white-color);
	}

	.btn-lime:hover {
		border-color: var(--green-color);
		background-color: var(--green-color);
		color: var(--white-color);
	}
	.btn-lime:hover .icon-fill {
		fill: var(--white-color);
	}
	.btn-lime:hover .icon-stroke {
		stroke: var(--white-color);
	}
}

.link-more {
	position: relative;
	display: inline-flex;
	justify-content: center;
	align-items: center;
	font-size: 16px;
	line-height: 24px;

	&::before {
		content: "";
		position: absolute;
		top: 50%;
	}
}

.bg-blue {
	background-color: var(--blue-color);
}
.bg-lightgray {
	background-color: var(--lightgray-color);
}

@media (max-width: 767.98px) {
	.bgcolored-block {
		padding-top: 20px;
		padding-bottom: 20px;
	}
}
@media (min-width: 768px) {
	.bgcolored-block {
		padding-top: 40px;
		padding-bottom: 40px;
	}
}

.color-blue {
	color: var(--blue-color);

	& .icon-fill {
		fill: var(--blue-color);
	}
	& .icon-stroke {
		stroke: var(--blue-color);
	}
}

.breadcrumbs {
	padding-top: 15px;

	& ul {
		display: flex;
		flex-wrap: wrap;
		margin: 0 0 -8px 0;
		padding: 0;
		list-style: none;
		font-size: 14px;
		line-height: 27px;
	}
	& li {
		margin-bottom: 8px;
	}
	& li:not(:last-child) {
		margin-right: 4px;
		color: var(--blue-color);
	}
	& li:last-child {
		color: var(--gray-color);
	}
}
@media (max-width: 767.98px) {
	.block-header {
		margin-bottom: 20px;
	}
}
@media (min-width: 768px) {
	.block-header {
		display: flex;
		justify-content: space-between;
		margin-bottom: 30px;

		& .h1,
		& .h2,
		& .h3,
		& .h4,
		& .h5,
		& .h6 {
			margin-right: 30px;
			margin-bottom: 0;
		}
	}
}

.field-wrapper {
	display: inline-flex;
	align-items: center;
	width: 100%;

	&:not(:last-child) {
		margin-bottom: 20px;
	}
}
.field-input {
	position: relative;
	display: block;
	min-width: 100%;
	width: 100%;
	min-height: 52px;
	height: 52px;
	padding: 14px 24px;
	border: none;
	border-radius: 26px;
	background-color: var(--white-color);
	color: var(--black-color);
	font-size: 16px;
	line-height: 24px;
	transition: 0.15s ease-in-out;
}
.field-input:focus {
	box-shadow: 0 0 3px var(--blue-color);
}
.field-input::placeholder {
	color: var(--gray-color);
	font-size: 14px;
}
.field-input.comment-input {
	min-height: 100px;
	resize: none;
}

.file-upload {
	display: flex;
	align-items: center;

	&__text {
		color: var(--blue-color);
		font-size: 14px;
		line-height: 24px;
	}
}
@media (max-width: 767.98px) {
	.file-upload {
		&__view {
			margin-right: 10px;
		}
	}
}
@media (min-width: 768px) {
	.file-upload {
		&__view {
			margin-right: 15px;
		}
	}
}

.contacts-map {
	min-width: 100%;
	width: 100%;
}
@media (max-width: 575.98px) {
	.contacts-map {
		min-height: 350px;
		height: 350px;
	}
}
@media (min-width: 576px) and (max-width: 767.98px) {
	.contacts-map {
		min-height: 450px;
		height: 450px;
	}
}
@media (min-width: 768px) {
	.contacts-map {
		min-height: 100%;
		height: 100%;
	}
}

.flow-img {
	min-width: 100%;
	width: 100%;
	object-fit: cover;
}
@media (max-width: 767.98px) {
	.flow-img {
		min-height: 280px;
		height: 280px;
	}
}
@media (min-width: 768px) {
	.flow-img {
		min-height: 400px;
		height: 400px;
	}
}

p {
	margin-top: 0;

	&:last-child {
		margin-bottom: 0;
	}
}
@media (max-width: 767.98px) {
	p {
		&:not(:last-child) {
			margin-bottom: 15px;
		}
	}
}
@media (min-width: 768px) {
	p {
		&:not(:last-child) {
			margin-bottom: 30px;
		}
	}
}

.fsz-lower {
	font-size: 11px;
}

.pagination {
	display: flex;
	justify-content: center;
	margin: 0;
	padding: 0;
	list-style: none;

	&__btn {
		display: flex;
		justify-content: center;
		align-items: center;
		min-width: 36px;
		width: 36px;
		min-height: 36px;
		height: 36px;
	}
	&__btn {
		border: 1px solid transparent;
	}
	&__btn:not(.pagination__nav-btn):not(.active) {
		border-color: var(--lightgray-color);
		color: var(--gray-color);
	}
	&__btn:not(.pagination__nav-btn):focus {
		border-color: transparent transparent var(--blue-color) transparent;
	}
	&__btn:not(.pagination__nav-btn).active {
		border-color: var(--blue-color);
		background-color: var(--blue-color);
		color: var(--white-color);
	}
	&__nav-btn {
		border-radius: 50%;
	}
	&__nav-btn:not(.active) {
		background-color: var(--lightgray-color);
	}
	&__nav-btn:not(.active) .icon-stroke {
		stroke: var(--blue-color);
	}
	&__nav-btn:focus {
		border-color: var(--blue-color);
	}
	&__nav-btn.active {
		background-color: var(--blue-color);
	}
	&__nav-btn.active .icon-stroke {
		stroke: var(--white-color);
	}
}
@media (max-width: 575.98px) {
	.pagination {
		&__item:not(:last-child) {
			margin-right: 6px;
		}
	}
}
@media (min-width: 576px) {
	.pagination {
		&__item:not(:last-child) {
			margin-right: 8px;
		}
	}
}
@media (min-width: 992px) {
	.pagination {
		&__item:not(:last-of-type) {
			margin-right: 8px;
		}
		&__btn:not(.pagination__nav-btn):hover {
			border-color: var(--blue-color);
			background-color: var(--blue-color);
			color: var(--white-color);
		}
		&__nav-btn:hover {
			background-color: var(--blue-color);
		}
		&__nav-btn:hover .icon-stroke {
			stroke: var(--white-color);
		}
	}
}

.table {
	width: 100%;
	border-collapse: collapse;
	line-height: 21px;

	& td {
		vertical-align: bottom;
		border: 1px solid transparent;
	}
	& td.divider {
		padding: 0;
	}
	& td:not(.divider) {
		border-bottom-color: rgba(0,0,0,0.5);
	}
	& tr:first-of-type td:not(.divider) {
		padding: 0 0 8px;
	}
	& tr:not(:first-of-type) td:not(.divider) {
		padding: 8px 0;
	}
}
@media (max-width: 991.98px) {
	.table {
		& td.divider {
			min-width: 8px;
			width: 8px;
		}
		& td:not(.divider):last-of-type {
			min-width: 30%;
			width: 30%;
		}
		& td:not(.divider):first-of-type {
			min-width: calc(70% - 8px);
			width: calc(70% - 8px);
		}
	}
}
@media (min-width: 992px) {
	.table {
		& td.divider {
			min-width: 16px;
			width: 16px;
		}
		& td:not(.divider):last-of-type {
			min-width: 25%;
			width: 25%;
		}
		& td:not(.divider):first-of-type {
			min-width: calc(75% - 16px);
			width: calc(75% - 16px);
		}
	}
}

.tabs-heading {
	position: relative;
	margin-bottom: 30px;
	overflow: auto;
	border-bottom: 1px solid var(--blue-color);

	&::-webkit-scrollbar {
		display: none;
	}
	&__list,
	&__item {
		position: relative;
	}
	&__list {
		display: flex;
		padding: 0 15px;
	}
	&__item {
		position: relative;
		margin-bottom: 5px;
	}
	&__item:not(:last-of-type) {
		margin-right: 40px;
	}
	&__item.selected::before {
		content: "";
		position: absolute;
		right: 0;
		bottom: -5px;
		left: 0;
		min-height: 3px;
		height: 3px;
		border-radius: 3px;
		background-color: var(--blue-color);
	}
	&__title {
		color: var(--gray-color);
		white-space: nowrap;
		cursor: pointer;
		transition: 0.15s ease-in-out;
	}
	&__item.selected &__title {
		color: var(--blue-color);
	}
}
.tab-content {
	&__section {
		display: none;
	}
	&__section.active {
		display: block;
	}
	&__item:not(:last-child) {
		margin-bottom: 30px;
	}
	&__descr ul {
		padding-left: 16px;
	}
	&__descr ul:not(:last-child) {
		margin-bottom: 30px;
	}
	&__descr ul:last-child {
		margin-bottom: 0;
	}
}
