.main {
	z-index: 1;
	position: relative;
	flex: 1;
	min-width: 320px;
}

.agreement-msg {
	min-width: 100%;
	width: 100%;
	color: var(--gray-color);
	font-size: 10px;
	line-height: 15px;

	&:not(:last-child) {
		margin-bottom: 24px;
	}
}

.top-screen {
	min-width: 100%;
	width: 100%;
	background-repeat: no-repeat;
	background-position: center 0;

	&__title,
	&__subtitle {
		color: var(--blue-color);
	}
	&__subtitle {
		font-size: 20px;
		line-height: 30px;
	}
	&__subtitle:not(:last-child) {
		margin-bottom: 24px;
	}
}
.top-screen-inner {
	position: relative;
	min-width: 100%;
	width: 100%;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;

	&::before {
		content: "";
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		min-width: 50vw;
		width: 50vw;
		background: linear-gradient(270.25deg, rgba(255, 255, 255, 0.0001) -4.11%, #FFFFFF 82.75%);
	}
}
@media (max-width: 767.98px) {
	.top-screen,
	.top-screen-inner {
		padding-top: 30px;
		padding-bottom: 30px;
	}
	.top-screen {
		min-height: 400px;
		background-size: 768px 510px;

		&__title {
			margin-bottom: 20px;
		}
	}
	.top-screen-inner {
		min-height: 250px;
	}
}
@media (min-width: 768px) {
	.top-screen,
	.top-screen-inner {
		padding-top: 100px;
		padding-bottom: 100px;
	}
	.top-screen {
		min-height: 550px;
		background-size: 1920px 1280px;

		&__title {
			margin-bottom: 30px;
		}
	}
	.top-screen-inner {
		min-height: 350px;
	}
}

.services {
	display: flex;
	flex-wrap: wrap;
	margin-bottom: -16px;

	&__item-wrapper {
		margin-bottom: 16px;
	}
	&__item {
		min-width: 100%;
		width: 100%;
		background-repeat: no-repeat;
		background-position: center;
		background-size: cover;
	}
	&__item-link {
		position: relative;
		display: flex;
		justify-content: center;
		align-items: center;
		min-width: 100%;
		width: 100%;
		min-height: 100%;
		height: 100%;
	}
	&__item-link:hover {
		text-decoration: none;
	}
	&__item-btn {
		position: relative;
		display: inline-flex;
		justify-content: center;
		align-items: center;
		padding: 14px;
		border-radius: 26px;
		background-color: var(--white-color);
		color: var(--blue-color);
		line-height: 24px;
		cursor: pointer;
		transition: 0.15s ease-in-out;
	}
	&__item-btn .text-content {
		padding-right: 10px;
		padding-left: 10px;
	}
}
@media (max-width: 575.98px) {
	.services {
		&__item-wrapper,
		&__item {
			min-width: 100%;
			width: 100%;
		}
		&__item {
			min-height: calc((100vw - 30px) / 2);
			height: calc((100vw - 30px) / 2);
		}
		&__item:not(:last-child) {
			margin-bottom: 16px;
		}
	}
}
@media (max-width: 767.98px) {
	.services {
		&__item-wrapper {
			display: flex;
			flex-wrap: wrap;
		}
	}
}
@media (max-width: 991.98px) {
	.services {
		&__item-btn {
			min-width: 200px;
			width: 200px;
		}
	}
}
@media (min-width: 576px) and (max-width: 767.98px) {
	.services {
		margin-right: -16px;

		&__item-wrapper,
		&__item:not(:last-child) {
			margin-right: 16px;
		}
		&__item {
			min-width: calc((510px - 16px) / 2);
			width: calc((510px - 16px) / 2);
			min-height: calc((510px - 16px) / 2);
			height: calc((510px - 16px) / 2);
		}
	}
}
@media (min-width: 768px) and (max-width: 991.98px) {
	.services {
		&__item:not(.services__item--height-1\/2) {
			min-height: calc((690px - 32px) / 3);
			height: calc((690px - 32px) / 3);
		}
		&__item--height-1\/2 {
			min-height: calc(((690px - 32px) / 3 - 16px) / 2);
			height: calc(((690px - 32px) / 3 - 16px) / 2);
		}
	}
}
@media (min-width: 992px) and (max-width: 1199.98px) {
	.services {
		&__item:not(.services__item--height-1\/2) {
			min-height: calc((930px - 32px) / 3);
			height: calc((930px - 32px) / 3);
		}
		&__item--height-1\/2 {
			min-height: calc(((930px - 32px) / 3 - 16px) / 2);
			height: calc(((930px - 32px) / 3 - 16px) / 2);
		}
	}
}
@media (min-width: 1200px) and (max-width: 1399.98px) {
	.services {
		&__item:not(.services__item--height-1\/2) {
			min-height: calc((1110px - 32px) / 3);
			height: calc((1110px - 32px) / 3);
		}
		&__item--height-1\/2 {
			min-height: calc(((1110px - 32px) / 3 - 16px) / 2);
			height: calc(((1110px - 32px) / 3 - 16px) / 2);
		}
	}
}
@media (min-width: 768px) {
	.services {
		&__item-wrapper {
			min-width: calc((100% - 32px) / 3);
			width: calc((100% - 32px) / 3);
		}
		&__item-wrapper:not(:nth-child(3n)) {
			margin-right: 16px;
		}
		&__item:not(:last-child) {
			margin-bottom: 16px;
		}
	}
}
@media (min-width: 992px) {
	.services {
		&__item-link:hover &__item-btn {
			background-color: var(--blue-color);
			color: var(--white-color);
		}
		&__item-btn {
			min-width: 230px;
			width: 230px;
		}
	}
}
@media (min-width: 1400px) {
	.services {
		&__item:not(.services__item--height-1\/2) {
			min-height: calc((1290px - 32px) / 3);
			height: calc((1290px - 32px) / 3);
		}
		&__item--height-1\/2 {
			min-height: calc(((1290px - 32px) / 3 - 16px) * 0.5);
			height: calc(((1290px - 32px) / 3 - 16px) * 0.5);
		}
	}
}

.service-features {
	&__item:first-of-type {
		display: flex;
		flex-direction: column;
		height: 100%;
	}
	&__view {
		display: flex;
		flex: 1;
	}
	&__descr p {
		margin: 0 0 20px;
	}
	&__descr-card-view .icon {
		min-height: 40px;
		height: 40px;
		fill: var(--blue-color);
	}
	&__descr-card-text {
		color: var(--blue-color);
	}
}
@media (max-width: 575.98px) {
	.service-features {
		&__view img {
			min-height: calc((100vw - 30px) * 0.666);
			height: calc((100vw - 30px) * 0.666);
		}
		&__descr-card {
			display: flex;
		}
		&__descr-card-view {
			margin-right: 15px;
		}
	}
}
@media (max-width: 991.98px) {
	.service-features {
		&__view img {
			min-height: calc((100vw - 30px) * 0.666);
			height: calc((100vw - 30px) * 0.666);
		}
	}
}
@media (min-width: 576px) and (max-width: 767.98px) {
	.service-features {
		&__view img {
			min-height: calc(510px * 0.666);
			height: calc(510px * 0.666);
		}
	}
}
@media (min-width: 768px) and (max-width: 991.98px) {
	.service-features {
		&__view img {
			min-height: calc(690px * 0.666);
			height: calc(690px * 0.666);
		}
	}
}
@media (min-width: 992px) and (max-width: 1199.98px) {
	.service-features {
		&__descr:not(:last-child) {
			margin-bottom: 40px;
		}
		&__descr-card-text {
			padding-right: 25px;
		}
	}
}
@media (min-width: 576px) {
	.service-features {
		&__descr-card-view:not(:last-child) {
			margin-bottom: 15px;
		}
	}
}
@media (min-width: 992px) {
	.service-features {
		&__view {
			align-items: flex-end;
		}
		&__view img {
			min-height: 300px;
			height: 300px;
		}
	}
}
@media (min-width: 1200px) {
	.service-features {
		&__descr:not(:last-child) {
			margin-bottom: 60px;
		}
		&__descr-card-text {
			padding-right: 75px;
		}
	}
}

.contact-us {
	display: flex;
	flex-wrap: wrap;

	& .field-wrapper {
		min-width: calc((100% - 64px) / 4);
		width: calc((100% - 64px) / 4);
	}
	& .field-wrapper .btn {
		width: 100%;
	}
}
@media (max-width: 575.98px) {
	.contact-us {
		margin-bottom: -15px;

		& .field-wrapper {
			min-width: 100%;
			width: 100%;
			margin-bottom: 15px;
		}
	}
}
@media (max-width: 767.98px) {
	.contact-us {
		& .field-wrapper .btn {
			font-size: 16px;
		}
	}
}
@media (min-width: 576px) and (max-width: 767.98px) {
	.contact-us {
		margin: 0 -15px -15px 0;

		& .field-wrapper {
			margin: 0 15px 15px 0;
		}
	}
}
@media (min-width: 576px) and (max-width: 991.98px) {
	.contact-us {
		& .field-wrapper {
			min-width: calc((100% - 30px) / 2);
			width: calc((100% - 30px) / 2);
		}
	}
}
@media (min-width: 768px) {
	.contact-us {
		margin: 0 -15px -20px 0;

		& .field-wrapper {
			margin: 0 15px 20px 0;
		}
		& .field-wrapper .btn {
			font-size: 18px;
		}
	}
}
@media (min-width: 992px) {
	.contact-us {
		& .field-wrapper {
			min-width: calc((100% - 60px) / 4);
			width: calc((100% - 60px) / 4);
			margin: 0 15px 20px 0;
		}
	}
}

.portfolio {
	display: flex;
	flex-wrap: wrap;

	&__item-wrapper {
		position: relative;
	}
	&__item {
		background-repeat: no-repeat;
		background-position: center 0;
		background-color: var(--lightgray-color);
		transition: 0.15s ease-in-out;
	}
	&__item-view {
		margin-bottom: 16px;
		user-select: none;
		pointer-events: none;
		background-color: var(--lightgray-color);
	}
	&__item-view img {
		object-fit: contain;
	}
}
.portfolio-page {
	& .section-container__col .portfolio__item {
		margin: 0;
	}
}
@media (max-width: 575.98px) {
	.portfolio {
		margin-bottom: -15px;

		&__item {
			min-width: 100%;
			width: 100%;
			margin-bottom: 15px;
			background-size: contain;
		}
		&__item,
		&__item-view img {
			min-height: calc((100vw - 30px) / 2);
			height: calc((100vw - 30px) / 2);
		}
	}
}
@media (min-width: 576px) and (max-width: 767.98px) {
	.portfolio {
		&__item {
			min-width: calc((510px - 15px) / 2);
			width: calc((510px - 15px) / 2);
		}
		&__item,
		&__item-view img {
			min-height: calc((510px - 15px) / 2);
			height: calc((510px - 15px) / 2);
		}
	}
}
@media (min-width: 576px) and (max-width: 991.98px) {
	.portfolio-page {
		& .section-container__col {
			min-width: calc((100% - 16px) / 2);
			width: calc((100% - 16px) / 2);
		}
	}
}
@media (min-width: 768px) and (max-width: 991.98px) {
	.portfolio {
		&__item {
			min-width: calc((690px - 45px) / 4);
			width: calc((690px - 45px) / 4);
		}
		&__item,
		&__item-view img {
			min-height: calc((690px - 45px) / 4);
			height: calc((690px - 45px) / 4);
		}
	}
}
@media (min-width: 992px) and (max-width: 1199.98px) {
	.portfolio {
		&__item {
			min-width: calc((930px - 45px) / 4);
			width: calc((930px - 45px) / 4);
		}
		&__item,
		&__item-view img {
			min-height: calc((930px - 45px) / 4);
			height: calc((930px - 45px) / 4);
		}
	}
}
@media (min-width: 1200px) and (max-width: 1399.98px) {
	.portfolio {
		&__item {
			min-width: calc((1110px - 45px) / 4);
			width: calc((1110px - 45px) / 4);
		}
		&__item,
		&__item-view img {
			min-height: calc((1110px - 45px) / 4);
			height: calc((1110px - 45px) / 4);
		}
	}
}
@media (min-width: 576px) {
	.portfolio {
		margin: 0 -15px -15px 0;

		&__item {
			margin: 0 15px 15px 0;
			background-size: cover;
		}
	}
}
@media (min-width: 1400px) {
	.portfolio {
		&__item {
			min-width: calc((1290px - 45px) / 4);
			width: calc((1290px - 45px) / 4);
		}
		&__item,
		&__item-view img {
			min-height: calc((1290px - 45px) / 4);
			height: calc((1290px - 45px) / 4);
		}
	}
}

.equipment-slider {
	position: relative;
	width: 100%;
	padding-bottom: 20px;

	& .swiper-slide {
		background-color: var(--white-color);
	}
	& .swiper-slide a {
		display: flex;
		flex-direction: column;
		height: 100%;
		transition: 0.15s ease-in-out;
	}
	&__slide-view {
		position: relative;
		display: flex;
		flex-direction: column;
		justify-content: flex-end;
		flex: 1;
		min-width: 100%;
		width: 100%;
		background-repeat: no-repeat;
		background-position: center;
		background-size: cover;
		transition: 0.15s ease-in-out;
	}
	& .swiper-slide-active &__slide-view {
		margin-bottom: 16px;
	}
	& .swiper-slide-prev  &__slide-view::before,
	& .swiper-slide-next  &__slide-view::before {
		content: "";
		z-index: 0;
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		background-color: rgba(219, 219, 219, 0.5);
	}
	&__slide-descr {
		color: var(--blue-color);
		text-align: center;
		line-height: 24px;
	}
	& .swiper-slide:not(.swiper-slide-active) &__slide-descr {
		display: none;
		opacity: 0;
	}
	&__slide-descr p {
		margin: 0;
	}

	& .swiper-navigation {
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
	}
	& .swiper-pagination {
		bottom: 0;
		display: flex;
		justify-content: center;
		width: 100%;
	}
	& .swiper-pagination-bullet {
		min-width: 8px;
		min-height: 8px;
		width: 8px;
		height: 8px;
		border: 1px solid var(--blue-color);
		border-radius: 50%;
		background-color: var(--white-color);
		transition: 0.15s ease-in-out;
	}
	& .swiper-pagination-bullet-active {
		background-color: var(--blue-color);
	}
	& .swiper-pagination-bullet:not(:last-of-type) {
		margin-right: 8px;
	}

	& .swiper-button-prev,
	& .swiper-button-next {
		top: 0;
		bottom: 0;
		justify-content: unset;
		height: auto;
		margin: 0;
	}
	& .swiper-button-prev {
		left: 0;
	}
	& .swiper-button-next {
		right: 0;
	}
	& .swiper-button-prev::after,
	& .swiper-button-next::after {
		content: none;
	}
	& .swiper-button-icon {
		position: absolute;
		display: flex;
		justify-content: center;
		align-items: center;
		min-width: 52px;
		width: 52px;
		min-height: 52px;
		height: 52px;
		transform: translateY(-50%);
		border: 1px solid var(--white-color);
		border-radius: 50%;
		background-color: rgba(219, 219, 219, 0.5);
		transition: 0.15s ease-in-out;
	}
	& .swiper-button-prev:hover .swiper-button-icon,
	& .swiper-button-next:hover .swiper-button-icon {
		border-color: var(--blue-color);
		background-color: var(--blue-color);
	}
	& .swiper-button-prev .icon,
	& .swiper-button-next .icon {
		stroke: var(--white-color);
	}
}
@media (max-width: 575.98px) {
	.equipment-slider {
		& .swiper-slide {
			min-width: 100%;
			width: 100%;
			min-height: calc(((100vw - 30px) * 0.7) + 64px);
			height: calc(((100vw - 30px) * 0.7) + 64px);
		}
		&__slide-view {
			min-height: 205px;
			height: calc((100vw - 30px) * 0.7);
		}

		& .swiper-button-prev,
		& .swiper-button-next {
			min-width: 65px;
		}
		& .swiper-button-prev .swiper-button-icon {
			right: 5px;
		}
		& .swiper-button-next .swiper-button-icon {
			left: 5px;
		}
	}
}
@media (max-width: 991.98px) {
	.equipment {
		&__subtitle {
			margin-bottom: 20px;
		}
	}
	.equipment-slider {
		&__slide-descr {
			font-size: 16px;
		}
	}
}
@media (min-width: 576px) and (max-width: 767.98px) {
	.equipment-slider {
		& .swiper-slide {
			min-width: 380px;
			width: 380px;
			min-height: 265px;
			height: 265px;
		}
		& .swiper-slide-active {
			min-height: 305px;
			height: 305px;
		}
		&__slide-view {
			min-height: 240px;
			height: 240px;
		}
		& .swiper-slide:not(.swiper-slide-active) &__slide-view {
			margin-bottom: 40px;
		}

		& .swiper-button-prev,
		& .swiper-button-next {
			min-width: 65px;
		}
		& .swiper-button-prev .swiper-button-icon {
			right: 5px;
		}
		& .swiper-button-next .swiper-button-icon {
			left: 5px;
		}
	}
}
@media (min-width: 768px) and (max-width: 991.98px) {
	.equipment-slider {
		& .swiper-slide {
			min-width: 510px;
			width: 510px;
			min-height: 360px;
			height: 360px;
		}
		& .swiper-slide-active {
			min-height: 365px;
			height: 365px;
		}
		&__slide-view {
			min-height: 325px;
			height: 325px;
		}
		& .swiper-slide:not(.swiper-slide-active) &__slide-view {
			margin-bottom: 40px;
		}

		& .swiper-button-prev,
		& .swiper-button-next {
			min-width: 90px;
		}
		& .swiper-button-prev .swiper-button-icon {
			right: 16px;
		}
		& .swiper-button-next .swiper-button-icon {
			left: 16px;
		}
	}
}
@media (min-width: 992px) and (max-width: 1199.98px) {
	.equipment-slider {
		& .swiper-slide {
			min-width: 335px;
			width: 335px;
			min-height: 235px;
			height: 235px;
		}
		& .swiper-slide-active {
			min-height: 280px;
			height: 280px;
		}
		&__slide-view {
			min-height: 215px;
			height: 215px;
			margin-bottom: 20px;
		}

		& .swiper-button-prev,
		& .swiper-button-next {
			min-width: 60px;
		}
		& .swiper-button-prev .swiper-button-icon {
			right: 5px;
		}
		& .swiper-button-next .swiper-button-icon {
			left: 5px;
		}
	}
}
@media (min-width: 1200px) and (max-width: 1399.98px) {
	.equipment-slider {
		& .swiper-slide {
			min-width: 540px;
			width: 540px;
			min-height: 380px;
			height: 380px;
		}
		&__slide-view {
			min-height: 340px;
			height: 340px;
		}
		& .swiper-slide:not(.swiper-slide-active) &__slide-view {
			margin-bottom: 40px;
		}

		& .swiper-button-prev,
		& .swiper-button-next {
			min-width: 95px;
		}
		& .swiper-button-prev .swiper-button-icon {
			right: 16px;
		}
		& .swiper-button-next .swiper-button-icon {
			left: 16px;
		}
	}
}
@media (min-width: 992px) {
	.equipment {
		&__subtitle {
			margin-bottom: 40px;
			padding-right: 105px;
		}
	}
	.equipment-slider {
		&__slide-descr {
			font-size: 18px;
		}
	}
}
@media (min-width: 1400px) {
	.equipment-slider {
		& .swiper-slide {
			min-width: 630px;
			width: 630px;
			min-height: 440px;
			height: 440px;
		}
		&__slide-view {
			min-height: 400px;
			height: 400px;
		}
		& .swiper-slide:not(.swiper-slide-active) &__slide-view {
			margin-bottom: 40px;
		}

		& .swiper-button-prev,
		& .swiper-button-next {
			min-width: 110px;
		}
		& .swiper-button-prev .swiper-button-icon {
			right: 16px;
		}
		& .swiper-button-next .swiper-button-icon {
			left: 16px;
		}
	}
}

.section-container {
	display: flex;
	flex-wrap: wrap;

	&__col {
		transition: 0.15s ease-in-out;
	}
}
.section-container,
.section-pagination {
	min-width: 100%;
	width: 100%;
}
@media (max-width: 991.98px) {
	.section-container {
		&__col {
			min-width: 100%;
			width: 100%;
		}
		&__col:not(:last-of-type) {
			margin-bottom: 30px;
		}
	}
}
@media (min-width: 992px) {
	.section-container {
		margin: 0 -16px -30px 0;

		&__col {
			margin: 0 16px 30px 0;
		}
		&__col-1 {
			flex: 0 0 calc((100% / 12) - 16px);
			max-width: calc((100% / 12) - 16px);
		}
		&__col-2 {
			flex: 0 0 calc(((100% / 12) * 2) - 16px);
			max-width: calc(((100% / 12) * 2) - 16px);
		}
		&__col-3 {
			flex: 0 0 calc(((100% / 12) * 3) - 16px);
			max-width: calc(((100% / 12) * 3) - 16px);
		}
		&__col-4 {
			flex: 0 0 calc(((100% / 12) * 4) - 16px);
			max-width: calc(((100% / 12) * 4) - 16px);
		}
		&__col-5 {
			flex: 0 0 calc(((100% / 12) * 5) - 16px);
			max-width: calc(((100% / 12) * 5) - 16px);
		}
		&__col-6 {
			flex: 0 0 calc(((100% / 12) * 6) - 16px);
			max-width: calc(((100% / 12) * 6) - 16px);
		}
		&__col-7 {
			flex: 0 0 calc(((100% / 12) * 7) - 16px);
			max-width: calc(((100% / 12) * 7) - 16px);
		}
		&__col-8 {
			flex: 0 0 calc(((100% / 12) * 8) - 16px);
			max-width: calc(((100% / 12) * 8) - 16px);
		}
		&__col-9 {
			flex: 0 0 calc(((100% / 12) * 9) - 16px);
			max-width: calc(((100% / 12) * 9) - 16px);
		}
		&__col-10 {
			flex: 0 0 calc(((100% / 12) * 10) - 16px);
			max-width: calc(((100% / 12) * 10) - 16px);
		}
		&__col-11 {
			flex: 0 0 calc(((100% / 12) * 11) - 16px);
			max-width: calc(((100% / 12) * 11) - 16px);
		}
		&__col-12 {
			flex: 0 0 calc(100% - 16px);
			max-width: calc(100% - 16px);
		}
	}
}

.section-services {
	&__view {
		min-width: 100%;
		width: 100%;
		margin-bottom: 15px;
	}
	&__view img {
		display: block;
		min-width: 100%;
		width: 100%;
		min-height: 200px;
		height: 200px;
		object-fit: cover;
	}
	&__descr-title {
		margin-bottom: 10px;
		color: var(--blue-color);
		font-size: 20px;
		line-height: 30px;
	}
	&__more a {
		text-decoration: none;
	}
	&__more a:not(a:hover) {
		color: var(--blue-color);
	}
	&__more a .text-content-mr {
		margin-right: 5px;
	}
	&__more a .text-content-ml {
		margin-left: 5px;
	}
	&__more a .icon {
		stroke-width: 1.5px;
	}
	&__more a .icon-stroke {
		stroke: var(--blue-color);
	}
	&__more a:hover .icon-stroke {
		stroke: var(--link-hover-color);
	}
}
@media (max-width: 767.98px) {
	.section-services {
		&__descr {
			margin-bottom: 15px;
		}
	}
}
@media (min-width: 768px) {
	.section-services {
		&__descr {
			margin-bottom: 35px;
		}
	}
}

.contacts-page-map {
	min-width: 100%;
	width: 100%;
}
@media (max-width: 767.98px) {
	.contacts-page-map {
		min-height: 280px!important;
		height: 280px!important;
	}
}
@media (min-width: 768px) {
	.contacts-page-map {
		min-height: 400px;
		height: 400px;
	}
}

.contacts-page-address {
	&.pre-footer__contacts {
		padding: 0;
	}
}
@media (min-width: 992px) {
	.contacts-page-address {
		&,
		&.pre-footer__contacts {
			flex-direction: column;
			justify-content: flex-start;
		}
	}
}

.calc-cost-request {
	& .field-input {
		background-color: var(--lightgray-color);
	}
}